/* Fonts */
/* 
font-family: 'Armata', sans-serif;
font-family: 'Overpass', sans-serif;
font-family: 'Russo One', sans-serif; 
*/

/* 
Colors 
  - red: #952426
  - white: #f6f6f6
  - black: #101010
  - grey-text: #383838
*/

html {
  min-height: 100%;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  overflow: overlay;
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    120deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(56, 20, 20, 1) 65%,
    rgba(75, 13, 13, 1) 83%
  );
  background: -webkit-linear-gradient(
    120deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(56, 20, 20, 1) 65%,
    rgba(75, 13, 13, 1) 83%
  );
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(56, 20, 20, 1) 65%,
    rgba(75, 13, 13, 1) 83%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#4b0d0d",GradientType=1);
  color: #f6f6f6;
  font-family: "Overpass", sans-serif;
}

h1,
h2 {
  font-family: "Russo One", sans-serif;
  font-size: 3rem;
}

h3,
h4 {
  font-family: "Armata", sans-serif;
  font-size: 2.4rem;
}

h5,
h6,
p {
  font-family: "Overpass", sans-serif;
  font-size: 1.6rem;
}

ul {
  width: 90%;
  height: 90%;
  list-style: none;
}

li {
  height: 15%;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.faTruck-icon {
  margin: 0 0 0 1rem;
}

/* #region Scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #00000000;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e0ab5d48;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(165, 165, 165, 0.404);
}
::-webkit-scrollbar-thumb:active {
  background: #5e5e5e60;
}

/* #endregion ==== */

.landing-page {
  height: 200vh;
}

.top-landing {
  height: 50%;
  background-size: cover;
}

.landing-page header {
  width: 90%;
  height: 90%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  border-bottom: #f0f0f0 solid 2px;
}

.top-landing h1 {
  color: #f6f6f6;
  text-shadow: 1px 1px #464646dc;
  min-width: 50%;
}

.top-landing h3 {
  width: 55%;
  text-align: center;
  text-shadow: 1px 1px rgb(7, 7, 7);
  line-height: 30px;
  position: relative;
  top: -75px;
  font-size: 1.8rem;
}

.semi-truck {
  position: absolute;
  height: 35px;
  width: 50px;
  background: url("../imgs/semi-truck.png");
  background-size: cover;
  bottom: 40%;
  left: 15%;
  transform: rotate(9deg);
}

.rt-logo {
  background: url("../imgs/roadrunners-logo-transparent.png");
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 160px;
}

.contact-link,
.contact-link:active {
  color: #f6f6f6;
  text-decoration: none;
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 2rem;
  z-index: 5;
}

.about {
  height: 50%;
  background: #f0f0f0f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.about-content-container {
  min-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.about-text-container {
  height: 50%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.about h1,
.about p {
  color: #101010;
}

.about-contact-link,
.about-contact-link:active {
  color: #000000;
  text-decoration: none;
}

.contact-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-page-container {
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact-page-container > section {
  height: 45%;
  width: 95%;
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contact-page p {
  width: 75%;
}

.contact-page ul {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-page-title-container {
  width: 85%;
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
}

.contact-page h1 {
  font-family: "Armata", sans-serif;
  margin: 0 5px 0 0;
  display: flex;
}

.fa-truck {
  color: #f6f6f6;
  font-size: 2.4rem;
}

.icon {
  margin: 0 15px 0 0;
  font-size: 3rem;
}

.small-truck-container {
  width: 90%;
  max-width: 400px;
  min-height: 30%;
}

.small-truck {
  width: 100%;
}

@media screen and (min-width: 810px) {
  .landing-page h1 {
    font-size: 4.6rem;
  }

  .landing-page h3 {
    font-size: 2.4rem;
  }

  .landing-page header {
    height: 45%;
    min-width: 50%;
  }
  .landing-page h3 {
    position: static;
  }

  .about-text-container p {
    margin: 5%;
  }

  .contact-link:hover {
    color: #e0ab5d;
    transition: all 0.3s ease-in-out;
  }

  .contact-link,
  .contact-link:active {
    font-size: 3.2rem;
    right: 45px;
    top: 35px;
  }
}

@media screen and (min-width: 1175px) {
  h1 {
    font-size: 5.8rem;
  }

  p,
  li {
    font-size: 2.4rem;
  }

  .top-landing {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .top-landing header {
    padding: 2%;
    width: 50%;
  }

  .top-landing h1 {
    min-width: 3%;
    width: 530px;
  }

  .title-container {
    width: 85%;
    padding: 0 0 15px 0;
  }

  .about-content-container {
    flex-direction: row;
  }

  .contact-page-container {
    flex-direction: row-reverse;
  }
}
