/* Fonts */
/* 
font-family: 'Armata', sans-serif;
font-family: 'Overpass', sans-serif;
font-family: 'Russo One', sans-serif; 
*/

/* 
Colors 
  - red: #952426
  - white: #f6f6f6
  - black: #101010
  - grey-text: #383838
*/

html {
  min-height: 100%;
  font-size: 10px;
}

body {
  background: #101010;
  color: #f6f6f6;
}

h1,
h2 {
  font-family: "Russo One", sans-serif;
  font-size: 3rem;
}

h3,
h4 {
  font-family: "Armata", sans-serif;
  font-size: 2rem;
}

h5,
h6 {
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
}

.contact-link,
.contact-link:active {
  font-size: 3.5rem;
  color: #f6f6f6;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  margin: 50% 0 0 0;
  font-weight: bold;
  text-shadow: 1px 1px #353535;
}

/* #region Landing Page */
.landing-page {
  height: 100vh;
  background: url("../imgs/road-background.jpg");
  background-size: cover;
}

.landing-page header {
  width: 90%;
  height: 70%;
  position: absolute;
  top: 10%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.landing-page header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}

.landing-page h1 {
  color: #952426;
  text-shadow: 1px 1px #46464688;
  min-width: 50%;
}

.landing-page h3 {
  width: 60%;
  font-size: 1.8rem;
  text-align: center;
  text-shadow: 1px 1px rgb(7, 7, 7);
}

.semi-truck {
  position: absolute;
  height: 40px;
  width: 60px;
  background: url("../imgs/semi-truck.png");
  background-size: cover;
  bottom: 40%;
  left: 15%;
}

.rt-logo {
  background: url("../imgs/roadrunners-logo-transparent.png");
  background-size: cover;
  background-position: center;
  height: 80px;
  width: 160px;
}

.landing-page .shadow-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background: -moz-linear-gradient(
    90deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(53, 53, 53, 0.5) 50%,
    rgba(53, 53, 53, 0) 83%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(53, 53, 53, 0.5) 50%,
    rgba(53, 53, 53, 0) 83%
  );
  background: linear-gradient(
    90deg,
    rgba(53, 53, 53, 1) 0%,
    rgba(53, 53, 53, 0.5) 50%,
    rgba(53, 53, 53, 0) 83%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#353535",endColorstr="#353535",GradientType=1);
}

/* #endregion */
